<h3>Búsqueda por Rango de Precios</h3>
<form id="formPorRango" onsubmit="buscarPorRango(event)">
  <label for="precioMin">Precio Mínimo:</label>
  <input  id="precioMin" name="precioMin" class="form-control" required>
  <label for="precioMax" class="mt-2">Precio Máximo:</label>
  <input  id="precioMax" name="precioMax" class="form-control" required>
  <button type="submit" class="btn btn-primary mt-2">Buscar</button>
</form>
<div id="resultadoPorRango" class="mt-3"></div>